<!DOCTYPE html>
<html>
    <head>
        <title>User Created</title>
    </head>
    <body>
        <h1>User Account Created Successfully!</h1>
        Username: <%= username %> <br></br>
        Name: <%= firstName %> <%= lastName %> <br></br>
        Address: <%= address %> <%= city %> <%= state %> <%= zip %> <br></br>
        <br></br>
        <a href='/'>Return to Login</a>
    </body>
</html>